# Library dependencies for the QuanCulator project
# You have to install these libraries, before you can run the code:
# 'pip install -r requirements.txt'

# Standard library dependencies:
# re
# requests
python>=3.5

# Additional library dependencies
beautifulsoup4
